pymongo
motor
numpy
pandas
langchain
langchain-community
sentence-transformers
hnswlib; platform_machine != "ARM64" or platform_system != "Windows"
tiktoken
google-genai
python-snappy
docx2txt
nest_asyncio
tkhtmlview
beautifulsoup4
FlagEmbedding
transformers
pymilvus[model]
FlagEmbedding
pytest
quart